@font-face {
    font-family: 'HarmonyOS_Sans_SC_Black';
    src: url('@/assets/fonts/HarmonyOS_Sans_SC_Black.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'HarmonyOS_Sans_SC_Bold';
    src: url('@/assets/fonts/HarmonyOS_Sans_SC_Bold.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'HarmonyOS_Sans_SC_Light';
    src: url('@/assets/fonts/HarmonyOS_Sans_SC_Light.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'HarmonyOS_Sans_SC_Medium';
    src: url('@/assets/fonts/HarmonyOS_Sans_SC_Medium.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'HarmonyOS_Sans_SC_Regular';
    src: url('@/assets/fonts/HarmonyOS_Sans_SC_Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'HarmonyOS_Sans_SC_Thin';
    src: url('@/assets/fonts/HarmonyOS_Sans_SC_Thin.ttf');
    font-weight: 400;
}